.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 50vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: $color__brand-beige;
	text-align: center;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color__brand-royal-blue;
		opacity: .4;
	}

	.hero__content {
		padding: var(--space-sm);
		z-index: 1;

		.hero__heading,
		.hero__sub-heading {
			color: #fff;
		}

		.hero__heading {
			margin: 0;

			.hero__wave {
				display: block;
				background-size: 2.5rem;
				background-position: center;
				background-repeat: no-repeat;
				height: 2.5rem;
				width: 2.5rem;
				margin: 0 auto;
			}
		}
	
		.hero__sub-heading {
			display: inline-block;
			font-size: 1rem;
			text-transform: uppercase;
			letter-spacing: 3px;
			margin-top: var(--space-xs);
		}
	}
}
