.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.pagination-links {
	text-align: center;
	margin-top: 60px;

	.page-numbers {
		display: inline-block;
		font-size: 1.25rem;
		width: 35px;
	}

	.current {
		border-bottom: 2px solid $color__brand-sky-blue;
	}
}

article {
	&.page {
		.entry-header {
			text-align: center;
			
			.entry-title {
				margin: 2rem 0;
			}
		}
	
		.entry-hero {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			height: 372px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			text-align: center;
	
			.entry-hero__content {
				padding: 10px;
	
				.entry-hero__heading,
				.entry-hero__sub-heading {
					color: #fff;
				}
	
				.entry-hero__heading {
					margin: 0;

					.entry-hero__wave {
						display: block;
						background-size: 40px;
						background-position: center;
						background-repeat: no-repeat;
						height: 40px;
						width: 40px;
						margin: 0 auto;
					}
				}
			
				.entry-hero__sub-heading {
					font-family: $font__main;
					text-transform: uppercase;
					letter-spacing: 3px;
					margin: .6rem 0 0;
				}
			}
		}
	}

	&.service {
		display: flex;
		flex-direction: column;
	
		&:not(:last-child) {
			margin-bottom: 80px;
		}
	
		.entry-thumbnail {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: 100%;
			padding-top: 75%;
		}
	
		.entry-title {
			margin-top: 1.2rem;
		}
	}

	&.testimonial {
		display: flex;
		align-items: center;
		background-color: $color__brand-baby-blue;
		color: #fff;

		&:nth-child(even) {
			background-color: $color__brand-light-blue;
			color: $color__brand-royal-blue;
		}

		.entry-quote {
			padding: 35px;

			p {
				margin: 0;
			}

			&::before {
				font-family: 'Dashicons';
				font-size: 1.8rem;
				content: '\f122';
				display: block;
				text-align: center;
			}

			.entry-quote__footer {
				padding-top: 20px;
				text-transform: uppercase;
				letter-spacing: 3px;
			}
		}
	}
}

@media screen and (min-width: $screen__large) {
	article.service {
		flex-direction: row;
		flex-wrap: wrap;

		.entry-thumbnail {
			min-width: 282px;
		}

		.entry-body {
			flex: 1;
			margin-left: 40px;

			.entry-title {
				margin-top: 0;
			}
		}
	}
}
