.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page {
	.entry-header {
		text-align: center;
		
		.entry-title {
			margin: 2rem 0;
		}
	}

	.entry-hero {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 372px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		text-align: center;

		.entry-hero__content {
			padding: 10px;

			.entry-hero__heading,
			.entry-hero__sub-heading {
				color: #fff;
			}

			.entry-hero__heading {
				margin: 0;
			}
		
			.entry-hero__sub-heading {
				font-family: $font__main;
				text-transform: uppercase;
				letter-spacing: 3px;
			}
		}
	}
}
