.sticky {
	display: block;
}

.post {
	margin: 3.5em 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content,
.custom-content {
	margin-top: var(--space-xl);
}

.pagination-links,
.page-links {
	text-align: center;
	margin-top: 3.8rem;

	.page-numbers,
	.post-page-numbers {
		display: inline-block;
		font-size: 1.25rem;
		width: 35px;
	}

	.current {
		border-bottom: 2px solid $color__brand-steel-blue;
	}
}

.entry-header {
	text-align: center;

	.entry-title {
		margin-top: 2rem;
	}
}

.post {
	.entry-header {
		text-align: left;
	}

	.entry-content {
		margin-top: 0;
	}
}

.posted-on {
	text-transform: uppercase;
	letter-spacing: 3px;
	color: $color__brand-steel-blue;
}

.post-item {
    display: flex;
    flex-direction: column;

    + * {
        margin-top: var(--space-xxl);
    }

	.post-item__thumbnail {
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		padding-top: 75%;
		border-radius: .8rem;
		box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
	}

	.post-item__body {
		margin-top: var(--space-lg);

		.post-item__title {
			margin: 0;
		}
	}
}

.error-404 {
	text-align: center;
}

@include media-breakpoint-up(md) {
	.entry-content,
	.custom-content {
		margin-top: var(--space-xxl);
	}

    .post-item {
        flex-direction: row;

		+ * {
			margin-top: calc(var(--space-xl) * 2);
		}
    
        .post-item__thumbnail {
            min-width: 30vw;
        }
    
        .post-item__body {
			flex: 1;
            margin-left: var(--space-xl);
			margin-top: 0;
        }
    }

	.post .container {
		max-width: 800px;
	}
}
