.services__header {
    margin-bottom: var(--space-xl);

    .services__title {
        text-align: center;
        margin-top: 0;
    }
}

.services__footer {
    margin-top: var(--space-xl);
    text-align: center;
}
