.flex-group {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
        flex-direction: row;
    }

    > * {
        flex: 1;
    }
}

$spacers: (
    xxs: var(--space-xxs),
    xs: var(--space-xs),
    sm: var(--space-sm),
    md: var(--space-md),
    lg: var(--space-lg),
    xl: var(--space-xl),
    xxl: var(--space-xxl)
);

@each $size, $value in $spacers {
    .flex-group--gap-#{$size} {
        margin-left: calc(-1 * #{$value});
        margin-bottom: calc(-1 * #{$value});

        > * {
            margin-left: #{$value};
            margin-bottom: #{$value};
        }
    }
}
