h1, h2, h3, h4, h5 {
	margin: 3rem 0 1.38rem;
	font-family: $font__heading;
	font-weight: 500;
	color: $color__brand-royal-blue;
	line-height: $font__line-height-heading;
	clear: both;
}

h1 {
	margin-top: 0;
	font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}
