body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-weight: 400;
	font-size: 1.13rem;
	line-height: $font__line-height-body;
}

@media screen and (min-width: $screen__large) {
	html {
		font-size: 1.25rem;
	}
}

@import "headings";
@import "copy";
