.main-navigation {
	display: block;
	padding-left: 1.5rem;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			background-color: #fff;

			ul {
				left: -999em;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				margin: 0 auto;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		padding: 0 10px;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		font-size: 1.25rem;
		font-weight: 500;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	display: block;
	position: relative;
	z-index: 2;
	padding: 2px;
	background-color: #fff;
	border: none;
	border-radius: 5px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	min-width: auto;
	cursor: pointer;

	span {
		display: block;
		height: 3px;
		width: 35px;
		border-radius: 2px;
		background-color: $color__brand-royal-blue;
		margin: 8px;
		transition: all .3s ease;
	}
}

.main-navigation.toggled {
	.menu-toggle {
		background-color: $color__brand-royal-blue;

		span {
			background-color: #fff;
		}

		span:first-child {
			transform: translateY(11px) rotate(45deg);
		}
	
		span:nth-child(2) {
			opacity: 0;
		}
	
		span:last-child {
			transform: translateY(-11px) rotate(-45deg);
		}
	}
}

// Cleaner to go with desktop-first for mobile menu styling.
@media screen and (max-width: 991px) {
	.nav-menu {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: $color__brand-royal-blue;
		opacity: 0;
		text-align: center;
		padding: 2.5rem 0;
		transition: .3s ease;
		z-index: 1;
		overflow-y: scroll;
	
		> li {
			line-height: 2.5;
	
			> a {
				font-size: 2.25rem;
				color: #fff;
			}
		}
	}
	
	.main-navigation.toggled .nav-menu {
		left: 0;
		opacity: .9;
	}
}

@media screen and (min-width: 991px) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		flex-wrap: wrap;

		ul {
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
		}
		
		> li:not(:last-child) {
			margin-right: 1.56rem;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
