.main-navigation {
	display: block;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			background-color: #fff;

			ul {
				left: -999em;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				margin: 0 auto;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: inline-block;
		padding: var(--space-xs);
		font-family: $font__secondary;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	display: block;
	position: relative;
	z-index: 3;
	background: none;
	padding: 0;
	min-width: auto;
	cursor: pointer;

	&:hover {
		background: none;
	}

	span {
		display: block;
		height: 3px;
		width: 35px;
		border-radius: 2px;
		background-color: $color__brand-steel-blue;
		margin: 8px;
		transition: all .3s ease;
	}
}

.main-navigation.toggled {
	.menu-toggle {
		span {
			background-color: #fff;
		}

		span:first-child {
			transform: translateY(11px) rotate(45deg);
		}
	
		span:nth-child(2) {
			opacity: 0;
		}
	
		span:last-child {
			transform: translateY(-11px) rotate(-45deg);
		}
	}
}

// Cleaner to go with desktop-first for mobile menu styling.
@media screen and (max-width: 991px) {
	.nav-menu {
		position: fixed;
		top: 0;
		left: 0;
		transform: translateX(-100%);
		width: 100%;
		height: 100%;
		background-color: $color__brand-steel-blue;
		opacity: 0;
		text-align: center;
		padding: var(--space-xl) 0;
		transition: .3s ease;
		z-index: 2;
		overflow-y: scroll;
	
		> li {
			+ * {
				margin-top: var(--space-md);
			}

			> a {
				font-size: 1.75rem;
				color: #fff;
			}
		}
	}
	
	.main-navigation.toggled .nav-menu {
		transform: translateX(0px);
		opacity: .9;
	}
}

@media screen and (min-width: 991px) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		ul {
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
		}
		
		&.nav-menu {
			display: flex;
			flex-wrap: wrap;

			> li {
				+ * {
					margin-left: var(--space-sm);
				}
	
				> a {
					position: relative;
	
					&::after {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						height: .2rem;
						width: 100%;
						opacity: 0;
						background: $color__brand-beige;
						transition: opacity .3s ease;
					}
	
					@media (hover: hover) {
						&:hover::after {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
