input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: none;
	border-radius: .5rem;
	outline: .2rem solid;
	outline-color: $color__brand-beige;
	background-color: #fff;
	padding: .5rem 1rem;
	font-size: 1.5rem;
	width: 100%;

	&::placeholder {
		color: $color__brand-stone-blue;
	}

	&:focus:not(:focus-visible) {
		outline: none;
	}

	&:focus {
		outline-color: $color__brand-steel-blue;
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}
