a {
	color: $color__link;
	display: inline-block;
	text-decoration: none;

	&:focus:not(:focus-visible) {
		outline: none;
	}

	&:focus {
		outline: thin solid $color__brand-royal-blue;
		outline-offset: .2rem;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
