.site-footer {
    padding-top: 40px;

    .site-contact-banner {
        background-color: $color__brand-royal-blue;
    
        .site-contact-banner__inner {
            display: flex;
            flex-direction: column;
    
            > div {
                text-align: center;
                padding: 40px 15px;
    
                .site-contact-banner__heading {
                    color: #fff;
                    margin: 0;
                }
    
                .site-contact-banner__sub-heading {
                    color: $color__brand-turquoise-blue;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    margin: 0;
                }
    
                &::before {
                    font-family: 'Dashicons';
                    font-size: 2.2rem;
                    color: #fff;
                    display: block;
                }
    
                &.site-contact-banner__location::before {
                    content: '\f230';
                }
    
                &.site-contact-banner__email::before {
                    content: '\f465';
                }
    
                &.site-contact-banner__phone::before {
                    content: '\f525';
                }
            }
        }
    }
    
    .site-copyright {
        text-align: center;
        padding-top: 40px;
    }
}

@media screen and (min-width: $screen__large) {
    .site-footer {
        padding-top: 80px;

        .site-contact-banner .site-contact-banner__inner {
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
    
            > div {
                flex: 1;
            }
        }
    }
}
