.site-header {
    padding: var(--space-sm) 0;

    .site-header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .site-branding {
            line-height: 0;

            img {
                width: 9rem;
            }
        }
    }
}
