$color__brand-royal-blue: #345DA7;
$color__brand-steel-blue: #3B8AC4;
$color__brand-stone-blue: #8AA6BA;
$color__brand-turquoise-blue: #4BB4DE;
$color__brand-beige: #EFDBCB;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: $color__brand-royal-blue;
$color__text-input-focus: $color__brand-royal-blue;
$color__link: $color__brand-royal-blue;
$color__link-visited: $color__brand-royal-blue;
$color__link-hover: $color__brand-royal-blue;
$color__text-main: #333;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: $color__brand-turquoise-blue;
$color__border-button-focus: $color__brand-turquoise-blue;
$color__border-input: #ccc;
$color__border-abbr: #666;
