.testimonials-grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    grid-auto-rows: 20px;

    .entry-testimonial {
		display: flex;
		align-items: center;
		background-color: $color__brand-stone-blue;
		color: #fff;

		&:nth-child(even) {
			background-color: $color__brand-beige;
			color: $color__brand-royal-blue;
		}

		.entry-quote {
			padding: 35px;

			p {
				margin: 0;
			}

			&::before {
				font-family: 'Dashicons';
				font-size: 1.8rem;
				content: '\f122';
				display: block;
				text-align: center;
			}

			.entry-quote__footer {
				padding-top: 20px;
				text-transform: uppercase;
				letter-spacing: 3px;
			}
		}
	}
}
