.testimonials-grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    grid-auto-rows: 20px;

	> * {
		display: flex;
		align-items: center;

		&:nth-child(even) {
			background-color: $color__brand-beige;
			color: $color__brand-royal-blue;
		}
	}
}
